{% extends "layout.html" %}
{% load static highlight_code %}

{% block title %}Webpay Plus Diferido - Captura de transacción{% endblock %}

{% block content %}

{% component "breadcrumbs" items=[
    {"name": "Inicio", "url": "/"},
    {"name": "Webpay Plus Diferido", "url": "/webpay-plus-deferred/"},
    {"name": "Captura de transacción", "url": "/webpay-plus-deferred/capture?token={{ token }}&amount={{ amount }}&buy_order={{ buy_order }}&authorization_code={{ authorization_code }}"}
] %}{% endcomponent %}

    <h1>Webpay Plus Diferido - Captura de transacción</h1>
    <p class="mb-32">
        En este paso debemos capturar la transacción para realmente capturar el dinero que habia sido previamente
        reservado al hacer la transacción
    </p>

    <h2 id="request">Paso 1: Petición</h2>
    <p class="mb-32">
        Para capturar una transacción necesitaremos el Token, Orden de compra, Código de autorización y monto a
        capturar. Se hace de la siguiente manera.
    </p>

    {% filter highlight_code:"python" %}
resp = tx.capture(token, buy_order, authorization_code, amount)
    {% endfilter %}

    <h2 class="mt-32" id="response">Paso 2: Respuesta</h2>
    <p class="mb-32">
        Transbank contestará con lo siguiente. Debes guardar esta información, lo único que debes validar
        es que response_code sea igual a cero.
    </p>

    {{ response_data|prettyjson|highlight_code:"json" }}

    <h2 class="mb-32 mt-32" id="operations">
        Otras utilidades
    </h2>
    <p class="mb-32">
        Luego de capturada la transacción puedes Reembolsar (reversar o anular) el pago dependiendo de
        ciertas condiciones comerciales. También puedes consultar el estado de la transacción hasta 7 días después de
        realizada.
    </p>

    <form action="{% url 'webpay_plus_deferred:refund' %}" method="GET">
        <div class="tbk-refund-card  mb-32">
            <div class="input-container">
                <label for="amount" class="tbk-label">Monto a Reembolsar:</label>
                <input type="text" name="amount" class="tbk-input-text" value="{{ response_data.captured_amount }}">
                <input type="hidden" name="token" class="tbk-input-text" value="{{ token }}">
            </div>
            <div class="tbk-refund-button-container">
                <button class="tbk-button primary">REEMBOLSAR</button>
                <a href="{% url 'webpay_plus_deferred:status' %}?token={{ token }}" class="tbk-button primary">CONSULTAR ESTADO</a>
            </div>
        </div>
    </form>
    
{% endblock %}
