{% extends "layout.html" %}
{% load static highlight_code %}

{% block title %}Webpay Plus Diferido - Confirmar transacción{% endblock %}

{% block content %}

    {% component "breadcrumbs" items=[
        {"name": "Inicio", "url": "/"},
        {"name": "Webpay Plus Diferido", "url": "/webpay-plus-deferred/"},
        {"name": "Confirmar transacción", "url": "/webpay-plus-deferred/commit?token_ws={{ token }}"}
    ] %}{% endcomponent %}

    <h1>Webpay Plus Diferido - Confirmar transacción</h1>
    <p class="mb-32">En este paso es importante confirmar la transacción para notificar a Transbank que hemos recibido
        exitosamente los detalles de la transacción. <b>Es importante destacar que si la confirmación no se realiza, la
            transacción será caducada.</b>

    </p>

    <h2  id="data">Paso 1 - Datos recibidos:</h2>
    <p class="mb-32">
        Después de completar el flujo en el formulario de pago, recibirás un GET con la siguiente
        información:
    </p>
 
    {% filter highlight_code:"html" %}
    {{returnUrl}}?token_ws={{ token }}
    {% endfilter %}

    <h2 class="mt-32" id="request">Paso 2 - Petición:</h2>
    <p class="mb-32">Utilizarás el token recibido para confirmar la transacción mediante el SDK.</p>
 
    {% filter highlight_code:"python" %}
resp = tx.commit(token_ws)
    {% endfilter %}

    <h2 class="mt-32" id="response">Paso 3 - Respuesta:</h2>
    <p class="mb-32">
        Una vez que la transacción ha sido confirmada Transbank proporcionará la siguiente información.
        Es fundamental conservar esta respuesta y verificar que el campo "response_code" tenga un valor de cero y que el
        campo "status" sea "AUTHORIZED".
    </p>
    
    {{ response_data|prettyjson|highlight_code:"json" }}

    <h2 class="mt-32">¡Listo!</h2>
    <p class="mb-32">
        Es importante tener en cuenta que la transacción aún no ha sido capturada, por lo que hay que dejarle saber al
        tarjetahabiente que necesita un paso más; solo se ha retenido el saldo en su tarjeta. Después de confirmar la
        transacción, puedes:
    </p>
    <ul class="mb-32">
        <li>
            Capturar la transacción.
        </li>
        <li>
            Revertir la transacción si es necesario.
        </li>
        <li>
            Consultar el estado de la transacción hasta 7 días después de realizada.
        </li>
    </ul>

    <form action="{% url 'webpay_plus_deferred:capture' %}" method="GET">
        <div class="tbk-card">
            <p class="mb-32">Capturar la transacción para realmente capturar el dinero que habia sido previamente
                reservado.</p>
            <div class="input-container">
                <label for="amount" class="tbk-label">Monto a capturar:</label>
                <input type="text" name="amount" class="tbk-input-text" value="{{ response_data.amount }}">
                <input type="hidden" name="buy_order" class="tbk-input-text" value="{{ response_data.buy_order }}">
                <input type="hidden" name="authorization_code" class="tbk-input-text" value="{{ response_data.authorization_code }}">
                <input type="hidden" name="token" class="tbk-input-text" value="{{ token }}">
            </div>
            <div class="tbk-card-footer ">
                <button class="tbk-button primary">CAPTURAR</button>
            </div>
        </div>
    </form>
    <a href="{% url 'webpay_plus_deferred:status' %}?token={{ token }}" class="tbk-button primary mb-32">CONSULTAR ESTADO</a>

{% endblock %}
