SECRET_KEY=genera-tu-propia-secret-key-aqui
DEBUG=True
DATABASE_URL=sqlite:///db.sqlite3
ONECLICK_MALL_PROMOTIONS_API_KEY=tu-api-key
ONECLICK_MALL_PROMOTIONS_COMMERCE_CODE=tu-commerce-code
ONECLICK_MALL_PROMOTIONS_CHILD1_COMMERCE_CODE=tu-child-commerce-code-1
ONECLICK_MALL_PROMOTIONS_CHILD2_COMMERCE_CODE=tu-child-commerce-code-2
