[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.9.1"
certifi = "==2025.8.3"
charset-normalizer = "==3.4.3"
django = "==5.2.4"
idna = "==3.10"
marshmallow = "==3.26.1"
packaging = "==25.0"
python-dotenv = "==1.1.1"
requests = "==2.32.4"
sqlparse = "==0.5.3"
transbank-sdk = "==6.1.0"
urllib3 = "==2.5.0"
pygments = "*"

[dev-packages]

[requires]
python_version = "3.13"
python_full_version = "3.13.6"
