<div class="tbk-table">
  <div class="table-column tbk-head">Campo</div>
  <div class="table-column tbk-head">Valor</div>

  {% for campo, valor in data.items %}
    {% if campo == "details" and valor.0 %}
      {% for detail in valor %}
        <div class="table-column">details[{{ forloop.counter0 }}]</div>
        <div class="table-column">
          {% for key, val in detail.items %}
            <p>{{ key }}: {{ val }}{% if not forloop.last %}, {% endif %}</p>
          {% endfor %}
        </div>
      {% endfor %}
    {% else %}
      <div class="table-column">{{ campo }}</div>
      <div class="table-column">{{ valor }}</div>
    {% endif %}
  {% endfor %}
</div>
