{% extends "layout.html" %}
{% load static highlight_code %}

{% block title %}Transacción Completa Diferida - Reembolsar{% endblock %}

{% block content %}

{% component "breadcrumbs" items=[
    {"name": "Inicio", "url": "/"},
    {"name": "Transacción Completa Diferida", "url": "/transaccion-completa-diferida/"},
    {"name": "Reembolsar", "url": "/transaccion-completa-diferida/refund/"}
] %}{% endcomponent %}

<h1>Transacción Completa Diferida - Reembolsar</h1>
<p class="mb-32">
    En esta etapa, tendrás la posibilidad de solicitar el reembolso del dinero al tarjeta habiente. El tipo de reembolso (Reversa, Anulación o Anulación parcial) dependerá del monto y el tiempo transcurrido desde la
    transacción.
</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">
    Para efectuar la solicitud de reembolso, necesitarás el token de la transacción y el monto que deseas reversar. Si decides anular el monto total, puede resultar en una Reversa o Anulación, según ciertas condiciones. En caso de un monto menor al total, se realizará una Anulación parcial. Las anulaciones parciales para tarjetas débito y prepago no están soportadas.
</p>

<p class="mb-32">
    En este <a class="tbk-link" href="https://www.transbankdevelopers.cl/producto/webpay#anulaciones-y-reversas" target="_blank">link</a>
    podrás ver mayor información sobre las condiciones y casos para anular o reversar transacciones.
</p>

{% filter highlight_code:"python" %}
tx = Transaction.build_for_integration(
        IntegrationCommerceCodes.TRANSACCION_COMPLETA_DEFERRED,
        IntegrationApiKeys.WEBPAY
    )
resp = tx.refund(token, amount)
{% endfilter %}

<h2 class="mt-32" id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
    Transbank responderá con el resultado de la reversa o anulación. Evalúa cuidadosamente esta respuesta para confirmar que el reembolso se haya procesado de manera efectiva.
</p>

{{ response_data|prettyjson|highlight_code:"json" }}

<div class="mt-32 mb-32">
    <a href="{% url 'transaccion_completa_diferida:status' %}?token={{ request_data.token }}" class="tbk-button primary">
        CONSULTAR ESTADO
    </a>
</div>

{% endblock %}
