{% extends "layout.html" %}
{% load static highlight_code %}

{% block title %}Transacción Completa Diferida - Consultar estado{% endblock %}

{% block content %}

{% component "breadcrumbs" items=[
    {"name": "Inicio", "url": "/"},
    {"name": "Transacción Completa Diferida", "url": "/transaccion-completa-diferida/"},
    {"name": "Estado", "url": "/transaccion-completa-diferida/status/"}
] %}{% endcomponent %}

<h1>Transacción Completa Diferida - Consultar estado</h1>
<p class="mb-32">
    En esta fase, tendrás la capacidad de solicitar el estado actual de una transacción hasta 7 días
    después de su realización. Es importante destacar que no hay límite en la cantidad de solicitudes de este tipo
    durante este período. Sin embargo, una vez transcurridos los 7 días, ya no podrás revisar el estado de la
    transacción.
</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">
    Para llevar a cabo la solicitud de estado, necesitarás el token correspondiente a la transacción
    de la cual deseas obtener información. Utiliza este token para realizar una llamada a
    Transaction.status().
</p>

{% filter highlight_code:"python" %}
tx = Transaction.build_for_integration(
        IntegrationCommerceCodes.TRANSACCION_COMPLETA_DEFERRED,
        IntegrationApiKeys.WEBPAY
    )

resp = tx.status(token)
{% endfilter %}

<h2 class="mt-32" id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
    Transbank responderá con la siguiente información. Asegúrate de guardar estos detalles; lo único que necesitas
    validar es que el campo "response_code" sea igual a cero.
</p>

<div class="mb-32">

  {{ response_data|prettyjson|highlight_code:"json" }}
</div>

{% endblock %}
