{% extends "layout.html" %}
{% load static highlight_code %}

{% block title %}Webpay Plus - Creación de transacción{% endblock %}

{% block content %}

{% component "breadcrumbs" items=[
    {"name": "Inicio", "url": "/"},
    {"name": "Webpay Plus", "url": "/webpay-plus/"}
] %}{% endcomponent %}

    <h1>Webpay Plus - Creación de transacción</h1>
    <p class="mb-32">En esta etapa, se procederá a la creación de una transacción con el fin de obtener un
        identificador
        único. Esto
        nos permitirá redirigir al Tarjetahabiente hacia el formulario de pago en el siguiente paso.
    </p>

    <h2 id="request">Paso 1: Petición</h2>
    <ul class="mb-32">
        <li>Comienza por importar la librería WebpayPlus en tu proyecto.</li>
        <li>Luego, crea una transacción utilizando las funciones proporcionadas mediante el SDK.</li>
    </ul>

    {% filter highlight_code:"python" %}
from transbank.common.integration_type import IntegrationType
from transbank.common.options import WebpayOptions
from transbank.webpay.webpay_plus.transaction import Transaction

tx = (Transaction(WebpayOptions(comerce_code, api_key, IntegrationType.TEST)))
buy_order = "O-1000"
session_id = "S-1000"
amount = 2000
return_url = "{{request.return_url}}"
    
resp = tx.create(buy_order, session_id, amount, return_url)
    {% endfilter %}

    <h2 class="mt-32" id="response">Paso 2: Respuesta</h2>
    <p class="mb-32">Una vez que hayas creado la transacción, aquí encontrarás los datos de respuesta generados por el
        proceso.
    </p>

    {{ response_data|prettyjson|highlight_code:"json" }}

    <h2 class="mt-32" id="form">Paso 3: Creación del formulario</h2>
    <p class="mb-32">Utiliza estos datos de respuesta para redireccionar al usuario al formulario de pago al
        Tarjetahabiente.
        Este formulario será la interfaz a través de la cual el usuario realizará su transacción.
    </p>

	
	{{error}}
    {% filter highlight_code:"html" %}
<form action="https://webpay3gint.transbank.cl/webpayserver/initTransaction" method="POST">
	<input type="hidden" name="token_ws" value="{{ response_data.token }}" />
	<input type="submit" value="Pagar" />
</form>
    {% endfilter %}

    <h2 class="mt-32" id="example">Ejemplo</h2>
    <p class="mb-32">Para llevar a cabo una transacción de compra en nuestro sistema, primero debemos crear la
        transacción. Utilizaremos los siguientes datos para configurar la transacción:
    </p>

    <div class="mb-32">
        {% component "data_table" data=request %}{% endcomponent %}
    </div>

    <p class="mb-32">Por último, con la respuesta del servicio que confirma la creación de la transacción, procedemos
        a crear el formulario de pago. Para fines de este ejemplo, haremos visible el campo "token_ws", el cual es
        esencial para completar el proceso de pago de manera exitosa.
    </p>
    <span>Antes de continuar al formulario de Webpay, asegúrate de contar con los datos de las tarjetas de prueba que están en la <a href="https://transbankdevelopers.cl/documentacion/como_empezar#tarjetas-de-prueba" target="_blank" class="tbk-link">documentación.</a></span>

    <form action="{{ response_data.url }}" method="POST">
        <div class="tbk-card">
            <span class="tbk-card-title">Formulario de redirección</span>
            <input type="text" class="tbk-input-text"class="tbk-input-text" name="token_ws" value="{{ response_data.token }}" />
            <div class="tbk-card-footer">
                <button class="tbk-button primary">PAGAR</button>
            </div>
        </div>
    </form>
    
{% endblock %}
