{% extends "layout.html" %}
{% load static highlight_code %}

{% block title %}Webpay Oneclick Mall Diferido - Capturar transacción diferida{% endblock %}

{% block content %}

{% component "breadcrumbs" items=[
    {"name": "Inicio", "url": "/"},
    {"name": "Webpay Oneclick Mall Diferido", "url": "/oneclick-mall-diferido/start"},
    {"name": "Capturar pago", "url": "#"}
] %}{% endcomponent %}

<h1>Webpay Oneclick Mall Diferido - Capturar transacción diferida</h1>

<p class="mb-32">
    En este paso debemos capturar la transacción para realmente cobrar el dinero que había sido previamente
    reservado al autorizar la transacción.
</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">
    Para capturar una transacción necesitaremos el código de comercio de la tienda hija y Orden de compra de la tienda hija, 
    Código de autorización y monto a capturar. Se hace de la siguiente manera.
</p>

{% filter highlight_code:"python" %}
transaction = MallTransaction.build_for_integration(
        IntegrationCommerceCodes.ONECLICK_MALL_DEFERRED,
        IntegrationApiKeys.WEBPAY
)
response = transaction.capture(child_commerce_code, child_buy_order, authorization_code, amount)
{% endfilter %}

<h2 id="response" class="mt-32">Paso 2: Respuesta</h2>
<p class="mb-32">
    Una vez creada la transacción, recibirás los siguientes datos de respuesta:
</p>

{{ response_data|prettyjson|highlight_code:"json" }}

<h2 id="operations" class="mt-32">Otras utilidades</h2>
<p class="mb-32">
    Luego de capturada la transacción puedes Reembolsar (reversar o anular) el pago dependiendo 
    de ciertas condiciones comerciales (Reversa en las primeras 3 horas de la captura, anulación posterior a eso). 
    También puedes consultar el estado de la transacción hasta 7 días después de realizada.
</p>

<form action="{% url 'oneclick_mall_deferred:refund' %}" method="get">
    <input type="hidden" name="buy_order" value="{{ buy_order }}">
    <input type="hidden" name="child_buy_order" value="{{ child_buy_order }}">
    <input type="hidden" name="child_commerce_code" value="{{ child_commerce_code }}">

    <div class="tbk-refund-card mb-32">
        <div class="input-container">
            <label class="tbk-label" for="amount">Monto a reembolsar:</label>
            <input type="text" id="amount" name="amount" class="tbk-input-text"
                   value="{{ response_data.captured_amount|default_if_none:0|floatformat:0 }}">
        </div>

        <div class="tbk-refund-button-container">
            <button type="submit" class="tbk-button primary">REEMBOLSAR</button>
            <a href="{% url 'oneclick_mall_deferred:status' %}?buy_order={{ buy_order }}" class="tbk-button primary">
            CONSULTAR ESTADO
            </a>
        </div>
    </div>
</form>

{% endblock %}
