<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            {% block title %}Transbank Sdk Python Example{% endblock %}
        </title>
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="mobile-web-app-capable" content="yes" />

        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-02BDNS38Y1"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-02BDNS38Y1");
        </script>

        {% block head %}{% endblock %} {% load static %}
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/vnd.microsoft.icon" />
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
        <link rel="stylesheet" href="{% static 'css/pygments-monokai.css' %}" />

        <script src="{% static 'js/menu_controller.js' %}"></script>
    </head>
    <body>
        <div class="main-container">
            {% include 'partials/header.html' %}
            <div
                class="body-container {% if not navigation %} no-nav{% endif %}"
            >
                {% include 'partials/sidebar.html' %}
                <div class="body-content">
                    {% block content %}{% endblock %} {% include
                    'partials/channels.html' %}
                </div>
                {% if navigation%}
                <div class="helper-content">
                    {% include 'partials/navigation.html' %}
                </div>
                {% endif %}
            </div>
            {% include 'partials/footer.html' %}
        </div>

        <script src="{% static 'js/sidebar.js' %}"></script>
        <script src="{% static 'js/navigation.js' %}"></script>
    </body>
</html>
