{% load static %}
<aside class="tbk-sidebar" id="sidebar-desk">
    <div class="toogle-btn-container">
        <button class="tbk-toggle-btn" id="toggle-sidebar-btn">
            &lt;
        </button>
    </div>

    <nav class="sidebar-content" id="sidebar-content">
        <div>
            <p class="tbk-sidebar-item-title">Webpay Plus</p>
            <ul>
                <li style="margin-bottom:20px;">
                    <button class="sidebar-collapsible-title">
                        <span class="general-text">Webpay Plus</span>
                        <img src="{% static 'images/t-arrow.svg' %}" class="arrow" alt="t-arrow" width="24"
                            height="24" />
                    </button>
                    <ul class="collapsible-content" id="collapse-webpay-plus">
                        <li class="collapsible-items">
                            <a href="{% url 'webpay_plus:create' %}" class="tbk-sidebar-item">
                                Flujo Completo
                            </a>
                        </li>
                        
                    </ul>
                </li>

                <li style="margin-bottom:20px;">
                    <button class="sidebar-collapsible-title">
                        <span class="general-text">Webpay Plus Diferido</span>
                        <img src="{% static 'images/t-arrow.svg' %}" class="arrow" alt="t-arrow" width="24"
                            height="24" />
                    </button>
                    <ul class="collapsible-content" id="collapse-webpay-plus-deferred">
                        <li class="collapsible-items">
                            <a href="{% url 'webpay_plus_deferred:create' %}" class="tbk-sidebar-item">
                                Flujo Completo
                            </a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
            <hr class="sidebar-divider" />
            <p class="tbk-sidebar-item-title">WebpayOneclick</p>
            <ul>
                <li style="margin-bottom:20px;">
                    <button class="sidebar-collapsible-title" data-collapsible="oneclick-mall">
                        <span class="general-text">Oneclick Mall</span>
                        <img src="{% static 'images/t-arrow.svg' %}" class="arrow" alt="t-arrow" width="24"
                            height="24" />
                    </button>
                    <ul class="collapsible-content" id="collapse-oneclick-mall">
                        <li class="collapsible-items">
                            <a href="/oneclick-mall/start" class="tbk-sidebar-item">
                                Flujo Completo
                            </a>
                        </li>
                    </ul>
                </li>
                <li style="margin-bottom:20px;">
                    <button class="sidebar-collapsible-title" data-collapsible="oneclick-mall-deferred">
                        <span class="general-text">Oneclick Mall Diferido</span>
                        <img src="{% static 'images/t-arrow.svg' %}" class="arrow" alt="t-arrow" width="24"
                            height="24" />
                    </button>
                    <ul class="collapsible-content" id="collapse-oneclick-mall-deferred">
                        <li class="collapsible-items">
                            <a href="{% url 'oneclick_mall_deferred:start' %}" class="tbk-sidebar-item">
                                Flujo Completo
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</aside>
