{% load static %}
<aside class="tbk-sidebar-mobile" id="sidebar">
    <div class="btn-close-container">
        <button id="close-sidebar-btn" class="toggle-close-btn">
          <img src="{% static 'images/close.svg' %}" class="toggle-close-btn" alt="close-btn" />
        </button>
    </div>

    <nav class="sidebar-content" id="sidebar-content">
        <div>
            <p class="tbk-sidebar-item-title">Webpay Plus</p>
            <ul>
                <li style="margin-bottom:20px;">
                    <button class="sidebar-collapsible-title" data-collapsible="webpay-plus">
                        <span class="general-text">Webpay Plus</span>
                        <img src="{% static 'images/t-arrow.svg' %}" class="arrow" alt="t-arrow" width="24"
                            height="24" />
                    </button>
                    <ul class="collapsible-content" id="collapse-webpay-plus">
                        <li class="collapsible-items">
                            <a href="{% url 'webpay_plus:create' %}" class="tbk-sidebar-item">
                                Flujo Completo
                            </a>
                        </li>
                        
                    </ul>
                </li>

                <li style="margin-bottom:20px;">
                    <button class="sidebar-collapsible-title" data-collapsible="webpay-plus-deferred">
                        <span class="general-text">Webpay Plus Diferido</span>
                        <img src="{% static 'images/t-arrow.svg' %}" class="arrow" alt="t-arrow" width="24"
                            height="24" />
                    </button>
                    <ul class="collapsible-content" id="collapse-webpay-plus-deferred">
                        <li class="collapsible-items">
                            <a href="{% url 'webpay_plus_deferred:create' %}" class="tbk-sidebar-item">
                                Flujo Completo
                            </a>
                        </li>
                        
                    </ul>
                </li>
            </ul>
            <hr class="sidebar-divider" />
        </div>
    </nav>
</aside>
