{% extends "layout.html" %}
{% load static highlight_code %}

{% block title %}Transacción Completa Mall - Consultar cuotas{% endblock %}

{% block content %}

{% component "breadcrumbs" items=[
    {"name": "Inicio", "url": "/"},
    {"name": "Transacción Completa Mall", "url": "/transaccion-completa-mall/"},
    {"name": "Consultar cuotas", "url": "/transaccion-completa-mall/installments/"}
] %}{% endcomponent %}

<h1>Transacción Completa Mall - Consultar cuotas</h1>
<p class="mb-32">
    En esta etapa, realizaremos una consulta de cuotas para conocer sus condiciones. Es importante destacar que este paso es opcional y se utiliza únicamente si deseas ofrecer opciones de pago a plazos.

</p>

<h2 id="request">Paso 1: Petición</h2>
<p class="mb-32">
    Para llevar a cabo la consulta de cuotas, debemos enviar los siguientes datos relevantes.
</p>

<div class="mb-16">

    {% filter highlight_code:"python" %}
    tx = MallTransaction.build_for_integration(
            IntegrationCommerceCodes.TRANSACCION_COMPLETA_MALL,
            IntegrationApiKeys.WEBPAY
        )
    
    details = [
        {
            "commerce_code": "597055555574",
            "buy_order": "O-123",
            "installments_number": 3
        },
        {
            "commerce_code": "597055555575",
            "buy_order": "O-456",
            "installments_number": 3
        }
    ]
    
    resp = tx.installments(token, details)
    {% endfilter %}
</div>

<h2 id="response">Paso 2: Respuesta</h2>
<p class="mb-32">
    Una vez realizada la consulta de cuotas, recibirás los siguientes datos de respuesta:
</p>

<div class="mb-16">
    {{ response_data|prettyjson|highlight_code:"json" }}
</div>

<h2 class="mt-32" id="form">Confirmar Transacción</h2>
<p class="mb-32">
    Si decides utilizar cuotas y estás satisfecho con las condiciones obtenidas en la consulta, el siguiente paso sería confirmar la transacción.
</p>

<form method="GET" action="{% url 'transaccion_completa_mall:commit' %}" class="tbk-form">
    {% csrf_token %}
    <div class="tbk-card">
        <div class="input-container mb-16">
            <label for="token" class="tbk-label">Token</label>
            <input type="text" id="token" name="token" class="tbk-input-text" value="{{ request_data.token }}" readonly>
        </div>

        <div class="input-container mb-16">
            <label for="idQueryInstallments" class="tbk-label">ID de consulta de cuotas (Opcional)</label>
            <input type="text" id="idQueryInstallments" name="idQueryInstallments" class="tbk-input-text" value="{{ response_data.0.id_query_installments|default:'' }}">
        </div>

        <div class="input-container mb-16">
            <label for="deferredPeriodIndex" class="tbk-label">Indice de periodo diferido (opcional)</label>
            <input type="text" id="deferredPeriodIndex" name="deferredPeriodIndex" class="tbk-input-text" value="">
        </div>
        <div class="input-container mb-32">
            <label for="gracePeriod" class="tbk-label">Periodo de gracia (opcional)</label>
            <input type="text" id="gracePeriod" name="gracePeriod" class="tbk-input-text" value="">
        </div>

        <div class="tbk-card-footer">
            <button type="submit" class="tbk-button primary">
                CONFIRMAR TRANSACCIÓN
            </button>
        </div>
    </div>
</form>

{% endblock %}
